# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Zach Kodjo
	email = 36774583+kodjoz@users.noreply.github.com
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
	helper = /usr/local/bin/git-credential-manager-core
	credentialStore = plaintext
[init]
	defaultBranch = main
[core]
	editor = vim
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  pom = pull origin main
