# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Zach Kodjo
	email = 36774583+kodjoz@users.noreply.github.com
[credential]
	helper = osxkeychain
	helper = /usr/local/bin/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[core]
	editor = vim

[includeIf "gitdir:$HOME/repos/indent*/"]
	path = $HOME/repos/.gitconfig_include

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  pom = pull origin main
[pull]
	rebase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
